{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="grid-row freelance-page">  
  
  <div class="freelance-page-content">
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Hello</h2>
    <hr>
    <p>I’m Karl, A Full Stack Designer &amp; Developer. I live in Salt Lake City. I write <strong>iPhone</strong> and <strong>Web</strong> apps, &amp; the <strong>API</strong>s that back them. I’m exclusively Freelance.</p>

    <p>I specialize in building Minimum Viable Products, FAST. Web, iOS, API, the full stack. If you have a great idea for an app I’m your man.</p>
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Work</h2>
    <hr>
    <p>Right now I'm building A crystal collector’s app named <a href="http://getamulet.com/" target="_blank">AMULET</a> with <a href="http://www.ashsmash.com" target="_blank">Ash Huang</a>. I wrote the <a href="http://www.epicurrrence.com" target="_blank">Epicurrence 3</a> website with Ben Cline while I was a developer at <a href="http://beta.rallyinteractive.com" target="_blank">Rally</a>.</p>

    <p>I also work on my own stuff: <a href="http://pendium.io" target="_blank">Pendium</a> an invoicing and project management app that I’m building with the talented <a href="https://twitter.com/dmui" target="_blank">Daniel Mui</a>, <strong>Swift Foundations</strong> a course that teaches Swift to complete beginners, launching in June.<p>
      
    <p>I’m also the newest owner of <a href="https://cheddarapp.com" target="_blank">Cheddar</a>, A task app that’s more than just text, and I’ve got some big plans to refurbish this classic.</p>
    
    <br>
    <br>
    <br>
    <br>
    
    <h2>Contact</h2>
    <hr>    
    <p>I'm on <a href="https://twitter.com/karloscarweber" target="_blank">Twitter</a> and <a href="https://github.com/karloscarweber" target="_blank">Github</a>, I also respond to <a href="mailto:me@kow.fm">email</a>, please send them to me@kow.fm.</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  </div>
  
  <div class="backToArticlesBox">
      <a href="/">BACK TO ARTICLES</a>
  </div>
  
</div>
